<!DOCTYPE html>
<html>
<head>
	<title>Upload your file</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Загрузите-ка ваш файл</h1>
		<form method="POST" action="/" enctype="multipart/form-data">
			<div class="form-group">
				<label for="file">File input</label>
				<input type="file" name="file">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

	<div class="container">
		<h2>Вы загрузили файл {{ filename }}.</h2>
		<h3>Среднее количество слов в предложении: {{ average }}</h3>
		<h3>Чаще всего при построении предложения вы используете конструкцию из:</h3>
		<h3>Содержимое файла:</h3>
		<div>
			{{ content }}
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>